<div align="center">
  <!-- Card -->
  <div class="card card-settings">

    <!-- Card content -->

    <div class="card-body">

      <!-- Title -->
      <h2 class="card-title">Añadir Restaurantes</h2>

      <form>
        <!-- Restaurant name input -->
        <div class="md-form">
          <input type="text" id="restaurantName" class="form-control">
          <label for="restaurantName">Nombre del Restaurante</label>
        </div>

        <!--Basic textarea-->
        <div class="md-form">
          <textarea type="text" id="restaurantDescription" class="form-control md-textarea" rows="5"></textarea>
          <label for="restaurantDescription">Descripción del Restaurante</label>
        </div>

        <!-- Restaurant location input -->
        <div class="md-form">
          <input type="text" id="restaurantLocation" class="form-control">
          <label for="restaurantLocation">Localización del Restaurante</label>
        </div>


        <!-- Restaurant phone input -->
        <div class="md-form">
          <input type="text" id="restaurantPhone" class="form-control" placeholder="(xxx) xxx-xxxx">
          <label for="restaurantPhone">Teléfono del Restaurante</label>
        </div>

        <section id="category">
          <h4>Categorías</h4>
          <div class="container container-margin">
            <div class="row">
              <div class="col-lg-3">

                <div class="form-check mb-4">
                  <input name="category" type="radio" class="form-check-input with-gap" id="restaurantes">
                  <label class="form-check-label" for="restaurantes">D'Restaurantes</label>
                </div>

              </div>
              <div class="col-lg-3">

                <div class="form-check mb-4">
                  <input name="category" type="radio" class="form-check-input with-gap" id="guaguita">
                  <label class="form-check-label" for="guaguita">D'Guaguita</label>
                </div>
              </div>

              <div class="col-lg-3">

                <div class="form-check mb-4">
                  <input name="category" type="radio" class="form-check-input with-gap" id="picar">
                  <label class="form-check-label" for="picar">D'Picar</label>
                </div>

              </div>

              <div class="col-lg-3">
                <div class="form-check mb-4">
                  <input name="category" type="radio" class="form-check-input with-gap" id="antojos">
                  <label class="form-check-label" for="antojos">D'Antojos</label>
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section id="offering">
          <h4>Ofrecimientos</h4>
          <div class="container container-margin">

            <div class="row">
              <div class="col-lg-4">
                <!-- Estacionamiento -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="parking" id="parking">
                  <label class="form-check-label" for="parking">
                    Estacionamiento
                  </label>
                </div>
              </div>

              <div class="col-lg-4">
                <!-- Seguridad -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="security" id="security">
                  <label class="form-check-label" for="security">
                    Seguridad
                  </label>
                </div>
              </div>

              <div class="col-lg-4">
                <!-- Mascotas -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="pets" id="pets">
                  <label class="form-check-label" for="pets">
                    Permiten Mascotas
                  </label>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-lg-4">
                <!-- Drinks -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="drinks" id="drinks">
                  <label class="form-check-label" for="drinks">
                    Bebidas Alcohólicas
                  </label>
                </div>
              </div>

              <div class="col-lg-4">
                <!-- WIFI -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="wifi" id="wifi">
                  <label class="form-check-label" for="wifi">
                    WIFI
                  </label>
                </div>
              </div>

              <div class="col-lg-4">
                <!-- Conección Electrica -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="power" id="power">
                  <label class="form-check-label" for="power">
                    Conección Electrica
                  </label>
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section id="payment">
          <h4>Metodos de Pago</h4>
          <div class="container container-margin">

            <div class="row">

              <div class="col-lg-4">
                <!-- Efectivo -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="cash" id="cash">
                  <label class="form-check-label" for="cash">
                    Efectivo
                  </label>
                </div>
              </div>

              <div class="col-lg-4">
                <!-- ATH -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="ath" id="ath">
                  <label class="form-check-label" for="ath">
                    ATH
                  </label>
                </div>
              </div>

              <div class="col-lg-4">
                <!-- Tarjetas de Credito -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="creditCard" id="creditCard">
                  <label class="form-check-label" for="creditCard">
                    Tarjeta de Crédito
                  </label>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-lg-4">
                <!-- ATH Móvil -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="athMovil" id="athMovil">
                  <label class="form-check-label" for="athMovil">
                    ATH Móvil
                  </label>
                </div>
              </div>

              <div class="col-lg-4">
                <!-- Paypal -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="paypal" id="paypal">
                  <label class="form-check-label" for="paypal">
                    Paypal
                  </label>
                </div>
              </div>

              <div class="col-lg-4">
                <!-- Stripe -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="cash" id="cash">
                  <label class="form-check-label" for="cash">
                    Stripe
                  </label>
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section id="schedule">
          <h4>Horario</h4>
          <div class="container container-margin">
            <div class="row row-margin">

              <div class="col-lg-2">
                <label>Lunes</label>
              </div>

              <div class="col-lg-5">
                <input class="form-control" type="time">
              </div>

              <div class="col-lg-5">
                <input class="form-control" type="time">
              </div>
            </div>

            <div class="row row-margin">

              <div class="col-lg-2">
                <label>Martes</label>
              </div>

              <div class="col-lg-5">
                <input class="form-control" type="time">
              </div>

              <div class="col-lg-5">
                <input class="form-control" type="time">
              </div>
            </div>

            <div class="row row-margin">

              <div class="col-lg-2">
                <label>Miércoles</label>
              </div>

              <div class="col-lg-5">
                <input class="form-control" type="time">
              </div>

              <div class="col-lg-5">
                <input class="form-control" type="time">
              </div>
            </div>

            <div class="row row-margin">

              <div class="col-lg-2">
                <label>Jueves</label>
              </div>

              <div class="col-lg-5">
                <input class="form-control" type="time">
              </div>

              <div class="col-lg-5">
                <input class="form-control" type="time">
              </div>
            </div>

            <div class="row row-margin">

              <div class="col-lg-2">
                <label>Viernes</label>
              </div>

              <div class="col-lg-5">
                <input class="form-control" type="time">
              </div>

              <div class="col-lg-5">
                <input class="form-control" type="time">
              </div>
            </div>

            <div class="row row-margin">

              <div class="col-lg-2">
                <label>Sabado</label>
              </div>

              <div class="col-lg-5">
                <input class="form-control" type="time">
              </div>

              <div class="col-lg-5">
                <input class="form-control" type="time">
              </div>
            </div>

            <div class="row row-margin">

              <div class="col-lg-2">
                <label>Domingo</label>
              </div>

              <div class="col-lg-5">
                <input class="form-control" type="time">
              </div>

              <div class="col-lg-5">
                <input class="form-control" type="time">
              </div>
            </div>
          </div>
        </section>

        <!-- Submit Information -->
        <button type="submit" class="btn btn-color">Añadir</button>
      </form>

    </div>

  </div>
  <!-- Card -->
</div>
